/TestPc
/*.sln
/*.csproj
/Library
/etc
/Debug

/.vs
/AssetBundles
/BackupUnusedAssets
/Debug
/etc
/Library
/New__
/obj
/packages


/UnityPackageManager
/windowSObjectPoolTest
/*.csproj
/*.config
/*.sln
/XCTFQuest.userprefs
/XCTFQuest_09.27.Editor.csproj
/XCTFQuest_09.27.Editor.Plugins.csproj
/XCTFQuest_09.27.Plugins.csproj
/XCTFWebGL.userprefs
/.vs
/.vscode
